<div class="flex justify-between items-center bg-white h-20 px-10 py-4 shadow-[0_2px_4px_rgba(0,0,0,0.3)] z-50 transition-all duration-300">
        <a href="/user/" class="flex justify-center items-center gap-4">
            <i class="fa-solid fa-paw fa-3x"></i>
            <h1 class="text-[2.2rem] font-bold">PetEz</h1>
        </a>
        <div class="flex justify-center items-center gap-5">
            <a href="/petsitter/"><button class="px-5 py-2 bg-blue-500 text-white text-[1.2rem] rounded-lg cursor-pointer hover:bg-blue-700">หน้าหลักพี่เลี้ยงสัตว์</button></a>
            <a href="/user/create-booking" class="text-[1.2rem] underline-offset-4 hover:underline cursor-pointer">สร้างคำขอ</a>
            <a href="/user/history" class="text-[1.2rem] underline-offset-4 hover:underline cursor-pointer">ประวัติการจอง</a>
            <label class="relative inline-block">
                <input type="checkbox" class="hidden peer" />
                <p class="w-full h-full flex items-center justify-center gap-2 text-gray-700 text-[1.4rem] font-semibold cursor-pointer">
                    <img src="../static/user.png" class="w-12 h-12 rounded-full cursor-pointer">
                </p>
                <nav class="absolute right-0 top-[60px] w-[200px] bg-white border border-none rounded-lg shadow-[0_4px_10px_rgba(0,0,0,0.25)] invisible opacity-0 transition-all duration-200 ease-in-out z-10 peer-checked:visible peer-checked:opacity-100">
                    <ul class="list-none p-2 m-0">
                        <li>
                            <a href="/user/profile" class="flex justify-start items-center gap-4 block w-full px-3 py-2 text-left text-[1rem] font-light rounded-md hover:bg-blue-200 hover:text-white cursor-pointer transition-colors duration-150">
                                <i class="fa-solid fa-user"></i>
                                โปรไฟล์
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="flex justify-start items-center gap-4 block w-full px-3 py-2 text-left text-[1rem] font-light rounded-md hover:bg-blue-200 hover:text-white cursor-pointer transition-colors duration-150">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </nav>
            </label>
        </div>
</div>