<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetEz</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            font-family: "Noto Sans Thai", sans-serif;
        }
    </style>
</head>
<body>
    <%- include('../partials/user-nav') %>

    <div class="flex flex-col justify-center items-start mx-auto mt-10 mb-5 w-[80%]">
    <a href="/user/"><button class="px-16 py-2 text-[1.3rem] text-blue-600 rounded-2xl shadow-sm cursor-pointer bg-white border border-blue-600 transition duration-300 ease-in-out shadow-[0_5px_15px_rgba(37,99,235,0.3)] hover:-translate-y-1 hover:shadow-[0_8px_20px_rgba(37,99,235,0.4)]">back</button></a>
    </div>

    <div class="flex flex-col justify-center items-start mb-10 mx-auto px-10 py-10 w-[80%] border border-gray-200 rounded-xl shadow-sm">
        <div class="flex justify-center items-center gap-3 mb-5">
            <i class="fa-solid fa-clock-rotate-left fa-2x"></i>
            <p class="text-[1.8rem] font-bold">ประวัติการจอง</p>
        </div>
        <div class="grid grid-cols-1 gap-5 w-full">
            <div class="flex flex-col p-5 border border-gray-300 rounded-xl shadow-sm">
                <div class="flex justify-between mb-3">
                    <p class="text-[1.3rem] font-semibold">บริการดูแลสัตว์เลี้ยงตามบ้าน #001</p>
                    <p class="px-3 py-1 bg-green-100 text-green-800 rounded-full">สำเร็จ</p>
                </div>
                <div class="grid grid-cols-4">
                    <p class="flex flex-col">
                        <span class="text-gray-600">พี่เลี้ยงสัตว์</span>
                        <span>Man Sea</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">วันที่</span>
                        <span>01/12/2025 - 03/12/2025</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">ประเภทบริการ</span>
                        <span>ดูแลสัตว์ที่บ้าน</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">ราคา</span>
                        <span>3,210 บาท</span>
                    </p>
                </div>
            </div>
            <div class="flex flex-col p-5 border border-gray-300 rounded-xl shadow-sm">
                <div class="flex justify-between mb-3">
                    <p class="text-[1.3rem] font-semibold">บริการดูแลสัตว์เลี้ยงตามบ้าน #002</p>
                    <p class="px-3 py-1 bg-red-100 text-red-800 rounded-full">ยกเลิก</p>
                </div>
                <div class="grid grid-cols-4">
                    <p class="flex flex-col">
                        <span class="text-gray-600">พี่เลี้ยงสัตว์</span>
                        <span>Man Sea</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">วันที่</span>
                        <span>01/12/2025 - 03/12/2025</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">ประเภทบริการ</span>
                        <span>ดูแลสัตว์ที่บ้าน</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">ราคา</span>
                        <span>3,210 บาท</span>
                    </p>
                </div>
            </div>
            <div class="flex flex-col p-5 border border-gray-300 rounded-xl shadow-sm">
                <div class="flex justify-between mb-3">
                    <p class="text-[1.3rem] font-semibold">บริการดูแลสัตว์เลี้ยงตามบ้าน #003</p>
                    <p class="px-3 py-1 bg-yellow-100 text-yellow-800 rounded-full">รอดำเนินการ</p>
                </div>
                <div class="grid grid-cols-4">
                    <p class="flex flex-col">
                        <span class="text-gray-600">พี่เลี้ยงสัตว์</span>
                        <span>Man Sea</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">วันที่</span>
                        <span>01/12/2025 - 03/12/2025</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">ประเภทบริการ</span>
                        <span>ดูแลสัตว์ที่บ้าน</span>
                    </p>
                    <p class="flex flex-col">
                        <span class="text-gray-600">ราคา</span>
                        <span>3,210 บาท</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>